/* コメントがたくさん */

.container {
	width: 80%;
	margin: 20px auto;
  }

  input, textarea {
	box-sizing: border-box;
	width: 400px;
	padding: 6px;
  }

  input[type="submit"] {
	background-color: #FF5D57;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	width: 150px;
  }

  textarea {
	height: 120px;
  }
